<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../styles/styles.css" />
    <title>Hospital Islam Azzahrah Appointment Booking System</title>
  </head>
  <body>
    <nav id="side-nav">
      <div id="nav-content">
        <img
          src="../../images/logo-azzahrah.png"
          alt="Hostpital Islam Azzahrah Logo"
          id="logo"
        />
        <ul class="nav-links">
          <li class="nav-link">
            <a href="../../pages/admin/dashboard.php">Dashboard</a>
          </li>
          <li class="nav-link">
            <a href="../../pages/admin/appointments.php">Appointments</a>
          </li>
          <li class="nav-link">
            <a href="../../pages/admin/time-slots.php">Time Slots</a>
          </li>
          <li class="nav-link"><a href="../../pages/doc_dep/departments.php">Departments</a></li>
          <li class="nav-link"><a href="../../pages/doc_dep/doctor.php">Doctors</a></li>
          <li class="nav-link">
            <a href="../../pages/admin/forum.php">Forum</a>
          </li>
          <li class="nav-link">
            <a href="../../pages/admin/profile.php">Profile</a>
          </li>
        </ul>
      </div>
    </nav>
  </body>
</html>
