<nav id="side-nav">
  <div id="nav-content">
    <h2>Hospital Islam Azzahrah</h2>
    <ul class="nav-links">
      <li class="nav-link"><a href="">Dashboard</a></li>
      <li class="nav-link">
        <a href="../../pages/admin/appointments.html">Appointments</a>
      </li>
      <li class="nav-link"><a href="">Departments</a></li>
      <li class="nav-link"><a href="">Doctors</a></li>
      <li class="nav-link"><a href="../../pages/admin/forum.html">Forum</a></li>
      <li class="nav-link"><a href="">Profile</a></li>
    </ul>
  </div>
</nav>
